<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
  <style>
        /* Task2 */
    
    .banner{ 
        width: 100px; 
        height: 200px; 
        background-color: lightblue;
    } 

    .profile-pic { 
        width: 80px; 
        height: 80px; 
        background-color: white; 
        border: 3px solid black; 
        position: absolute; 
        left: 20px; 
        bottom: -40px; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    } 
     
    /* Task3 */ 

    .box{ 
        width: 50px; 
        border: 2px solid black; 
        padding: 20px; 
        margin: 0 auto; 
        display: block;
    } 


    /* Task4 */


    body { 
        margin: 0; 
        padding: 20px; 
    } 

    .notification{  
        position: fixed; 
        bottom: 20px; 
        right: 20px; 
        background-color: black; 
        color: white; 
        padding: 15px; 
        border-right: 5px;
    }

  </style>

    <!-- Task2 -->

    <div class="banner">

        <div class="profile-pic"> 
          proffile
        </div>

    </div> 

    <!-- Task3 --> 

     <div class="box"> 
        This is a centered box
     </div>

     <!-- Task4 -->

      <h2>More Content</h2>

      <p> 
        This is additional content to make the page longer
      </p> 

      <h2>More Content</h2>

      <p> 
        This is keep scrolling and notice the notification 
      </p>

      <div class="notification"> 
        Update Available
      </div>

</body>
</html>
